<%= form_tag("/reply/read/#{@post.id}", method: "post", remote: true,
             style: "padding: 1vh 0 0 0") do %>
  <button type="submit">댓글 새로고침</button>
<% end %>

<% @post.replies.each do |reply| %>
  <div class="reply" id="reply<%= reply.id %>">
    <p style="width: 12%;"><%= reply.member_nickname %></p>
    <p style="width: 65%;"><%= reply.content %></p>
    <% if member_logged_in? %>
      <% if reply.member_id == current_member.id %>
        <button style="width: 8%" onclick="modify(<%= reply.id %>, '<%= reply.content %>');">수정</button>
        <%= form_tag("/reply/remove/#{reply.id}", method: "post", remote: true,
                     class: "replyDeleteButton",
                     style: "padding: 0; width: 8%") do %>
          <button style="width: 100%" type="submit">삭제</button>
        <% end %>
      <% else %>
        <button style="width: 8%; visibility: hidden">바보</button>
        <button style="width: 8%; visibility: hidden">바보</button>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if member_logged_in? %>
  <%= form_tag("/reply/create/#{@post.id}", method: "post", remote: true) do %>
    <input class="replyInput" type="text" name="content" required placeholder="댓글 작성">
    <button type="submit">제출</button>
  <% end %>
<% else %>
  <form>
    <input class="replyInput" type="text" readonly placeholder="댓글을 작성하시려면 로그인해주세요.">
    <button disabled>제출</button>
  </form>
<% end %>