<html>
<head>
  <title>Main Page</title>
  <style>
    * {
        font-weight: lighter;
    }
    .infoBox {
        min-width: 50vw;
    }
    .postTitle {
        /*border: 1px solid #666666;*/
        /*border-radius: .25rem;*/
        padding-bottom: 1vh;
        margin: 0 1vh 1vh 0.5vh;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between
    }
    .postTitle:hover {
        border-bottom: 1px solid #666666;
    }
    .postTitle a {
        text-decoration: none;
    }

    @media (max-width: 958px) {
        .infoBox {
            width: 80vw;
        }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="infoBox" id="infoBox">
<!--      <h1 style="display: inline">Hi </h1>-->
      <%# if member_logged_in? %>
<!--        <h1 style="display: inline"><%#= current_member.nickname %></h1><br>-->
      <%# end %>
<!--      <br>-->
      <%#= link_to '게시물 작성', '/post/write', method: 'get' %>
<!--      <hr style="margin: 1vh 0">-->
      <h1>Posts</h1>
      <hr style="margin: 1vh 0">
      <% @posts.each do |post| %>
        <div class="postTitle">
          <a href="/post/view/<%= post.id %>">
            <p><%= post.title %></p></a>
          <p style="font-size: 0.8rem; padding-right: 0.2vh">
            작성자: <%= find_nickname(post.member_id) %> / <%= post.created_at %></p>
        </div>
      <% end %>
      <script>
        currentPage = location.pathname.substr(1);
        contentPerPage = 5;
        pagePerPages = 5;
        posts_count = <%= @posts_count %>;

        last_page = Math.floor(posts_count / contentPerPage);
        paging_first_page = (Math.floor(currentPage / 5)) * 5;
        paging_last_page = last_page > paging_first_page + 4 ? paging_first_page + 4 : last_page;

        function pageButtonC() {
            while (document.getElementsByClassName("pageButton").length > 0) {
                document.getElementsByClassName("pageButton").item(0).remove();
            }
            if (paging_first_page > 0) {
                let button = document.createElement("button");
                button.className = "pageButton";
                button.innerText = "<"
                button.onclick = function () {
                    location.href = '/' + (paging_first_page - 1).toString();
                }
                document.getElementById("infoBox").appendChild(button);
            }
            for (let i = paging_first_page, button; i <= paging_last_page; i++) {
                button = document.createElement("button");
                button.className = "pageButton";
                button.innerText = i.toString();
                if (Number(currentPage) === i) {
                    button.style = "background-color: antiquewhite;";
                }
                button.onclick = function () {
                    location.href = '/' + i;
                }
                document.getElementById("infoBox").appendChild(button);
            }
            if (paging_last_page < last_page) {
                let button = document.createElement("button");
                button.className = "pageButton";
                button.innerText = ">"
                button.onclick = function () {
                    location.href = '/' + (paging_last_page + 1).toString();
                }
                document.getElementById("infoBox").appendChild(button);
            }
        }
        pageButtonC();
      </script>
    </div>
  </div>
</body>
</html>