<html>
<head>
  <title>Post view Page</title>
  <style>
      .infoBox {
          width: 50vw;
      }
      .title, .content, .replyInput {
          width: 100%;
          text-align: left;
          border-color: #666666;
      }
      .content {
          color: black;
          min-height: 50vh;
          resize: none;
          height: auto;
      }
      .replyInput {
          width: 90%;
      }
      .reply {
          margin: 1vh 0 0 0;
          display: flex;
          justify-content: space-around;
          align-content: space-around;
          flex-wrap: wrap;
          /*border-bottom: 1px solid;*/
      }
      .reply p, .reply button, .replyDeleteButton {
          float: left;
          display: inline;
          /*margin-left: 1vw;*/
          height: fit-content;
          align-self: center;
      }
      .reply p {
          padding: .5em 0;
          border-bottom: 1px solid;
          /*border-radius: .25em;*/
      }

      @media (max-width: 958px) {
          .infoBox {
              width: 80vw;
          }
      }
  </style>
</head>
<body>
<div class="container">
  <div class="infoBox">
    <div class="post">
      <h3><%= @post.title %></h3>
      <p style="text-align: right">작성자: <%= find_nickname(@post.member_id) %></p>
      <div style="text-align: right; padding: 0.5vh 0">
        <% if member_logged_in? %>
          <% if current_member.id == @post.member_id %>
            <button onclick="location.href='/post/modify/<%= @post.id %>'">수정하기</button>
            <button onclick="location.href='/post/remove/<%= @post.id %>'">삭제하기</button>
          <% end %>
        <% end %>
      </div>
      <textarea class="content" readonly><%= @post.content %></textarea><br>
    </div>
    <hr style="margin: 1vh 0">
    <div class="replies" id="replies">
      <script>
        let cnt = 0;
          function modify(id, content) {
              if (cnt > 0) {
                  alert('기존의 수정폼을 취소해주세요.');
                  return false;
              }
              let modifyForm = document.createElement("form");
              modifyForm.action = "/reply/update/"+id;
              modifyForm.method = "post";
              modifyForm.id = "modifyForm"+id;
              modifyForm.remote = true;
              modifyForm.style = "display: contents;";

              let modifyContent = document.createElement("input");
              modifyContent.name = "content";
              modifyContent.type = "text";
              modifyContent.value = content;
              modifyContent.style = "width: 80%;";

              let modifySubmit = document.createElement("button");
              modifySubmit.type = "submit";
              modifySubmit.textContent = "제출";

              let modifyCancel = document.createElement("button");
              modifyCancel.type = "button";
              modifyCancel.textContent = "취소";
              modifyCancel.onclick = function() {
                  document.getElementById('modifyForm'+id).remove();
                  this.remove();
                  cnt--;
              };

              modifyForm.appendChild(modifyContent);
              modifyForm.appendChild(modifySubmit);

              let test = document.getElementById('reply'+id).lastChild;
              document.getElementById('reply'+id).insertBefore(modifyForm.cloneNode(true), test);
              document.getElementById('reply'+id).appendChild(modifyCancel);
              cnt++;
          }
      </script>
      <h3>댓글</h3>
      <% @post.replies.each do |reply| %>
        <div class="reply" id="reply<%= reply.id %>">
          <p style="border-color: #e2e2e2; width: 12%;"><%= find_nickname(reply.member_id) %></p>
          <p style="border-color: palevioletred; width: 65%;"><%= reply.content %></p>
          <% if member_logged_in? %>
            <% if reply.member_id == current_member.id %>
              <button style="width: 8%" onclick="modify(<%= reply.id %>, '<%= reply.content %>');">수정</button>
              <%= form_tag("/reply/remove/#{reply.id}", method: "post", remote: true,
                           class: "replyDeleteButton",
                           style: "padding: 0; width: 8%") do %>
                <button style="width: 100%" type="submit">삭제</button>
              <% end %>
            <% else %>
              <button style="width: 8%; visibility: hidden">바보</button>
              <button style="width: 8%; visibility: hidden">바보</button>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if member_logged_in? %>
        <%= form_tag("/reply/create/#{@post.id}", method: "post", remote: true) do %>
          <input class="replyInput" type="text" name="content" required placeholder="댓글 작성">
          <button type="submit">제출</button>
        <% end %>
        <%= form_tag("/reply/read/#{@post.id}", method: "post", remote: true) do %>
          <button type="submit">댓글 새로고침</button>
        <% end %>
      <% else %>
        <form>
          <input class="replyInput" type="text" readonly placeholder="댓글을 작성하시려면 로그인해주세요.">
          <button disabled>제출</button>
        </form>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>