<html>
<head>
  <title>Post view Page</title>
  <style>
      .infoBox {
          width: 50vw;
      }
      .title, .content, .replyInput {
          width: 100%;
          text-align: left;
          border-color: #666666;
      }
      .content {
          color: black;
          min-height: 50vh;
          resize: none;
          height: auto;
      }
      .replyInput {
          width: 90%;
      }
      .reply:first-of-type {
          margin: 1vh 0 0 0;
      }
      .reply {
          min-height: 5rem;
          border-top: .10rem solid lightgrey;
          display: flex;
          justify-content: space-around;
          align-content: space-around;
          flex-wrap: wrap;
          /*border-bottom: 1px solid;*/
      }
      .reply:last-of-type {
          border-bottom: .10rem solid lightgrey;
      }
      .reply p, .reply button, .reply form {
          float: left;
          display: inline;
          /*margin-left: 1vw;*/
          height: fit-content;
          align-self: center;
      }
      .reply p {
          padding: .5em 0;
          word-break: break-all;
          white-space: pre-wrap;
          /*border-bottom: 1px solid;*/
          /*border-radius: .25em;*/
      }

      @media (max-width: 958px) {
          .infoBox {
              width: 80vw;
          }
      }
  </style>
</head>
<body>
<div class="container">
  <div class="infoBox">
    <div class="post">
      <h3><%= @post.title %></h3>
      <div class="flex-space_between">
        <div>
          <p>작성자: <%= @post.member_nickname %></p>
        </div>
        <div>
          <% if member_logged_in? %>
            <% if current_member.id == @post.member_id %>
              <button onclick="location.href='/post/modify/<%= @post.id %>'">수정하기</button>
              <button onclick="location.href='/post/remove/<%= @post.id %>'">삭제하기</button>
            <% end %>
          <% end %>
        </div>
      </div>
      <textarea class="content" readonly><%= @post.content %></textarea><br>
    </div>
    <div id="like_or_hate">
      <% if member_logged_in? %>
        <%= render partial: 'like/like_or_hate' %>
      <% end %>
    </div>
    <hr style="margin: 1vh 0">
    <div class="replies" id="replies">
      <h3>댓글</h3>
      <script>
        function modify(id, content) {
            if (document.getElementById("modifyForm"+id) !== null) {
                // alert('기존의 수정폼을 취소해주세요.');
                return false;
            }
            let modifyForm = document.createElement("form");
            modifyForm.action = "/reply/update/"+id;
            modifyForm.method = "post";
            modifyForm.id = "modifyForm"+id;
            modifyForm.style = "display: contents;";
            modifyForm.className = "replyAction"
            modifyForm.setAttribute("data-remote", "true")

            // let modifyContent = document.createElement("input");
            // modifyContent.name = "content";
            // modifyContent.type = "text";
            // modifyContent.value = content;
            // modifyContent.style = "width: 80%;";

            let modifyContent = document.createElement("textarea");
            modifyContent.name = "content";
            modifyContent.value = content;
            modifyContent.maxLength = 255;
            modifyContent.style = "width: 80%;";

            let modifySubmit = document.createElement("button");
            modifySubmit.type = "submit";
            modifySubmit.textContent = "제출";

            let modifyCancel = document.createElement("button");
            modifyCancel.type = "button";
            modifyCancel.textContent = "취소";
            modifyCancel.onclick = function() {
                document.getElementById('modifyForm'+id).remove();
                this.remove();
            };

            modifyForm.appendChild(modifyContent);
            modifyForm.appendChild(modifySubmit);

            let test = document.getElementById('reply'+id).lastChild;
            // document.getElementById('reply'+id).insertBefore(modifyForm.cloneNode(true), test);
            document.getElementById('reply'+id).appendChild(modifyForm);
            document.getElementById('reply'+id).appendChild(modifyCancel);
            }
        $.ajax({
            url: "/reply/read/<%= @post.id %>",
            dataType: "script",
            method: "post",
            // ajax 요청을 두번하는 현상이 있어 async: false
            async: false
        });
      </script>
    </div>
  </div>
</div>
</body>
</html>