<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
<!--        <a href="/" class="brand-logo center">Logo</a>-->
        <div style="display: flex; justify-content: space-between">
          <div style="display: flex; justify-content: flex-start">
            <ul class="right-border-nav-menu">
              <li id="nav-home"><a href="/">Home</a></li>
              <% if member_logged_in? %>
                <li id="nav-write"><a href="/post/write">Posting</a></li>
              <% end %>
            </ul>
          </div>
          <div style="display: flex; justify-content: flex-end">
            <ul class="left-border-nav-menu">
              <% if member_logged_in? %>
                <li id="nav-modify"><a href="/member/modify" style="padding: 0">
                  <p style="font-size: 0.8rem">Membership</p>
                  Modify</a></li>
                <li id="nav-withdrawal"><a href="/member/withdrawal" style="padding: 0">
                  <p style="font-size: 0.8rem">Membership</p>
                  withdrawal</a></li>
                <li id="nav-logout"><a href="/member/logout">Log Out</a></li>
              <% else %>
                <li id="nav-register"><a href="/member/register">Register</a></li>
                <li id="nav-login"><a href="/member/login">Log In</a></li>
              <% end %>
            </ul>
          </div>
        </div>

        <script>
            if (location.pathname === '/') {
                document.getElementById('nav-home').className = "active-nav-menu";
            } else if (location.pathname === '/post/write') {
                document.getElementById('nav-write').className = "active-nav-menu";
            } else if (location.pathname === '/member/modify') {
                document.getElementById('nav-modify').className = "active-nav-menu";
            } else if (location.pathname === '/member/withdrawal') {
                document.getElementById('nav-withdrawal').className = "active-nav-menu";
            } else if (location.pathname === '/member/register') {
                document.getElementById('nav-register').className = "active-nav-menu";
            } else if (location.pathname === '/member/login') {
                document.getElementById('nav-login').className = "active-nav-menu";
            }
        </script>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
